* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

h1 {
    color: #fff;
    margin-bottom: 0.7rem;
    font-size: 1.75rem;
}

.input-text {
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
}

.button-add {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.newTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.50rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.container-add-todo {
    display: inline-block;
}

.completed {
    background: #7862ac;
    color: #c1a8fc;
    text-decoration: line-through;
    cursor: pointer;
}

.newTodo button,
.completed button {
    background: #fff;
    color: #8758ff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin-left: 0.5rem;
}
.newTodo button:hover,
.completed button:hover {
    background: #eaeaea;
}

/* TodoFilter.css */

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background: #1A1A40;
    border: 1px solid #8758ff;
    padding: 0.5rem 2rem 0.5rem 1rem; /* Adjust padding as needed */
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
    cursor: pointer;
}
.custom-select {
    background: #2a2a53;
}

.custom-select:active,
.custom-select:focus {
    border-color: #fff;
}

.custom-select option:checked {
    background: #8758ff;
    color: #fff;
}

.custom-select-arrow {
    position: absolute;
    top: 25%;
    right: 1rem;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}
